* {
    margin: 0;
    padding: 0;
}

body {
    background: #283438;
    color: #2b3e44;
    height: 100vh;
}

.body-container___base {
    min-height: 100% - 72px; 
}

.navbar {
    background-color: #2b3e44;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar___base {
    max-width: 1500px;
}

#nav-brand {
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
}

.modal-dialog {
    color: #2b3e44;
}

#username {
    color: #ebfcf8;
}

#sign-in-modal {
    font-family: 'Montserrat', sans-serif;
}

#sign-up-modal {
    font-family: 'Montserrat', sans-serif;
}

#signin {
    background-color: #5ccbaf;
    color: #ebfcf8;
}

#signup {
    background-color: #5ccbaf;
    color: #ebfcf8;
}

#profile {
    background-color: #5ccbaf;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#logout {
    background-color: #5ccbaf;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#close {
    background-color: #9caab3;
    border: none;
    color: #ebfcf8;
}

#ok-btn {
    background-color: #5ccbaf;
    border: none;
    color: #ebfcf8;
}

.carousel-container___home {
    width: 100%;
}

.carousel-item > img {
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 2000px;
}

#title {
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#content {
    color: #ebfcf8;
    font-family: 'Esteban', serif;
}

#update {
    background-color: #5ccbaf;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#edit-btn{
    background-color: #5ccbaf;
    border: none;
    color: #ebfcf8;
}

#delete_post {
    background-color: #cb5c5c;
    border: none;
    color: #ebfcf8;
}

#post-btn{
    background-color: #5ccbaf;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#post-avatar {
    border-radius: 50px;
}

/* .card-body > .card-title {
    color: #2b3e44
}

.card-body > #content {
    color: #2b3e44
} */

#city-column {
    padding-left: 0;
}

#city-card {
    background-color: #2b3e44;
    color: #ebfcf8;
    text-decoration: none;
}

#city-card-img {
    width: 175px;
}

#post-card {
    background-color: #2b3e44;
    color: #ebfcf8;
    text-decoration: none;
}

.card {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.card-body {
    background-color: #2b3e44;
}

footer{
    background-color: #2b3e44;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

@media (min-width: 1500px) {
    .carousel-container___home{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .carousel{
        width: 1500px;
        
    }
}