* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #b0f3ec 0%, #ebfcf8 100%);
    height:auto;
}

.navbar {
    background-color: #b0f3ec;
    font-family: 'Montserrat', sans-serif;
}

#nav-brand {
    color: #2b3e44;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
}

#sign-in-modal {
    font-family: 'Montserrat', sans-serif;
}

#sign-up-modal {
    font-family: 'Montserrat', sans-serif;
}

#signin {
    background-color: #5ccbaf;
    color: #ebfcf8;
}

#signup {
    background-color: #5ccbaf;
    color: #ebfcf8;
}

#profile {
    background-color: #5ccbaf;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#logout {
    background-color: #5ccbaf;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#close {
    background-color: #9caab3;
    border: none;
    color: #ebfcf8;
}

#ok-btn {
    background-color: #5ccbaf;
    border: none;
    color: #ebfcf8;
}

.carousel-container___home {
    width: 100%;
}

.carousel-item > img {
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 2000px;
}

#title {
    font-family: 'Montserrat', sans-serif;
}

#content {
    font-family: 'Esteban', serif;
}

#update {
    background-color: #5ccbaf;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#post-btn{
    background-color: #5ccbaf;
    color: #ebfcf8;
    font-family: 'Montserrat', sans-serif;
}

#post-avatar {
    border-radius: 50px;
}


footer{
    color: #2b3e44;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

@media (min-width: 1500px) {
    .carousel-container___home{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .carousel{
        width: 1500px;
        
    }
}