{% extends 'base.html' %}

{% block content %}     
  {% if signup_form.errors or profile_form.errors %}
    <h5 class="alert alert-danger">{{signup_form.errors}} {{profile_form.errors}} </h5>
  {% endif %}
    <div class="mt-5" style="width:600px; background-color:white;margin:auto;border:5px solid black;border-radius:10px"  >
         <form method="POST" action="{% url 'signup' %}">
            <div class="d-flex align-items-center flex-column my-2">
                        <input type="hidden" name="form_name" value="login_form">  
                        {% csrf_token %}
                        {{signup_form}}    
                        {{profile_form}}
                        <input class="px-3 py-1" type="submit" value="Sign Up">    
            </div>
          </form>
    </div>
{% endblock %}