{% extends 'base.html' %}
{% block title %}- About Us{% endblock  %}

{% block content %}
    <div class="container" id="title">
        <h1 class="my-4" style="text-align:center">Meet the Authors</h1>
        <div class="col d-flex mt-3" style="border:3px solid #B0F3EC" id="post-card">
            <img class="mt-2 ms-1" src="https://i.imgur.com/8k1hUj8.jpg" alt="" srcset="" height=100px width=100px id="about-profile-pic">
            <div class="container mt-3">
                <h4>Dan Bae | Software Engineer | Houston, Texas | Full Sail University </h4>
                <p id="content">Dan is a software engineer based in Houston, Texas. He is a lover of ridiculous movies which include, but are not limited to, Big Trouble in Little China and Spaceballs. Dan is also a fulltime childcare professional for his adorable niece and nephew.   <a class="ms-2" href="https://www.github.com/dbae82" target="_blank"><i class="fab fa-github-alt" id="about-icon"></i></a>   <a class="ms-2" href="https://www.linkedin.com/in/dan-bae/" target="_blank"><i class="fab fa-linkedin-in" id="about-icon"></i></a></p>
            </div>
        </div>
        <div class="col d-flex mt-3" style="border:3px solid #B0F3EC" id="post-card">
            <img class="mt-2 ms-1" src="https://i.imgur.com/1ZJ6PX2.jpg" alt="" srcset="" height=100px width=100px id="about-profile-pic">
            <div class="container mt-3">
                <h4>Leo Cucinell | Software Engineer | Eugene, Oregon | University of Oregon</h4>
                <p id="content">Leo is a fullstack engineer and cloud architect currently living in Bend Oregon. He enjoys skiing, lifting, cooking, and learning new ways to play music (currently learning guitar).<a class="ms-2" href="https://github.com/leocucinell" target="_blank"><i class="fab fa-github-alt" id="about-icon"></i></a>   <a class="ms-2" href="https://www.linkedin.com/in/leo-cucinell/" target="_blank"><i class="fab fa-linkedin-in" id="about-icon"></i></a></p>
            </div>
        </div>
        <div class="col d-flex mt-3" style="border:3px solid #B0F3EC" id="post-card">
            <img class="mt-2 ms-1" src="https://i.imgur.com/oimU1fT.jpg" alt="" srcset="" height=100px width=100px id="about-profile-pic">
            <div class="container mt-3">
                <h4>Brian Pham | Software Engineer | Los Angeles, California | University of California, Los Angeles</h4>
                <p id="content">Brian is a software engineer based in Southern California. He loves working out, unfortunately his love of food is equal to his love of exercise so any gains made in the gym are immediately nullified when he enters a kitchen.  <a class="ms-2" href="https://github.com/brianhung7/" target="_blank"><i class="fab fa-github-alt" id="about-icon"></i></a>   <a class="ms-2" href="https://www.linkedin.com/in/brianpham-se/" target="_blank"><i class="fab fa-linkedin-in" id="about-icon"></i></a></p>
            </div>
        </div>
    </div>
{% endblock %}