{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayfarer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static "scripts/main.js" %}" defer></script>
</head>
<body>

    <nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Wayfarer</a>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#sign-in-modal" id="signin">Sign In</button>
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#sign-up-modal" id="signup">Sign Up</button>
        </div>
    </div>
    </nav>

    <div class="modal" tabindex="-1" id="sign-in-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>    
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %} 
                            <input type="text" name="username" id="username" placeholder="Username">
                            <input type="text" name="password" id="password" placeholder="Password">
                            <input type="submit" class="btn" value="login" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="sign-up-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign Up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>    
                    <form method="POST" action="{% url 'signup' %}">
                        <input type="hidden" name="form_name" value="signup_form">  
                        {% csrf_token %}
                        {{ signup_form}}    
                        <input type="submit">    
                    </form>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% block content %}{% endblock %}

</body>

<footer>
    <div class="container">
        <span class="text-muted">About</span>
    </div>
</footer>
</html>