{% extends 'base.html' %}


{% block content %}
    <div class="d-flex align-items-center flex-column" id="title">

        <img src="{{post.city.img}}" alt="" srcset="" width = 100% height=500px>
        <h3 class="mt-2">{{post.title}}</h3>
        <h3>{{post.city.name}}</h3>
        <div class="container-fluid d-flex" style="width:70%">
            <img src="{{user.profile.avatar}}" alt="" srcset="" height = 50px width = 50px id="post-avatar">
            <div>
                <h6 class="ms-3">{{post.user.username}}</h6>
                <h7 class="ms-3">{{post.created_at}}</h7>
            </div>
        </div>
        <p class="mx-5 mt-3" style="width:70%;line-height:30px" id="content">{{post.content}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem delectus corrupti necessitatibus mollitia, in illum fuga doloribus aspernatur id adipisci commodi, maiores nihil nisi animi alias veritatis debitis itaque quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, reiciendis quo nemo maxime labore repudiandae doloremque quos error incidunt in, aut saepe quaerat eveniet temporibus fuga totam ipsum adipisci fugit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias tempora quas voluptatum vitae nobis ullam esse aspernatur commodi amet consequatur consectetur earum maxime id, deleniti sint veniam, reprehenderit ea. Accusamus. </p>

    </div>
{% endblock %}