{% extends 'base.html' %}
{% block title %}- Post Delete{% endblock  %}

{% block content %}

    {% if user.is_authenticated %}
        {% if user.username == post_creator %}
            <form method="POST">
            {% csrf_token %}

            {{form.as_p}}
            <input type="submit" value="Confim Delete?">
            </form>

        {% else %}
            <h1 style="color: white">You are not authorized to access this information</h1>
        {% endif %}
    {% endif %}
{% endblock %}