{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1>PROFILE</h1>

        <p>Username: {{user.username}}</p>

        <img src="{{user.profile.avatar}}" alt="" srcset="">
        <p>Current City: {{user.profile.current_city}}</p>
        <p>Join Date: {{user.date_joined}}</p>

    </div>
    
    <div class="col-md-6">
        <h1>Posts: </h1>
    
        {% for post in posts %}
            <div>
                <img src="{{user.profile.avatar}}" alt="" srcset="" width = 75px>
                {{post.city}} - 
                <a href="{% url 'post_detail' post.pk %}">{{post.title}}</a> - 
                {{post.content}}
            </div>
        {% empty %}
            <p>No Posts to show!</p>
        {% endfor %}
    </div>
</div>
{% endblock %}