{% extends 'base.html' %}

{% block content %}

<div class="row mt-5" id="title">
    <div class="col-md-4 d-flex flex-column align-items-center">

        <h3>{{profile.user.username}}'s Profile</h3>

        <img class="m-3" src="{{profile.user.profile.avatar}}" alt="" srcset="" width=250px>
        <p>Current City: {{user.profile.current_city}}</p>
        <p>Join Date: {{profile.user.date_joined}}</p>
        {% if profile_is_user  %}
        <a class="btn" data-bs-toggle="modal" data-bs-target="#update-modal" id="update">Update Profile</a>
        {% endif %}

    </div>

    <div class="modal" tabindex="-1" id="update-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>    
                        <form method="post" action="{% url 'update_profile' %}">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Username" name= "username" id="username" aria-label="Username" aria-describedby="basic-addon1" value="{{user.username}}" style="color:black">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-city"></i></span>
                                <select class="form-control" name="current_city" required="" id="id_current_city form_two">

                                    
                                    {% for city in cities %}
                                    
                                    {% if user.profile.current_city.id == city.id %}
                                        <option value="{{user.profile.current_city.id}}" selected="">{{user.profile.current_city}}</option>
                                    {% else %}
                                        <option value="{{city.id}}">{{city.name}}</option>
                                    {% endif %}
                                    {% endfor %}

                                </select>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Close</button>
                    <input type="submit" class="btn" value="Update Profile" id="ok-btn"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-8 mb-5" id="prof-post">
        <h3 style="text-align:center">{{user.username}}'s Posts </h3>
        <div class="col">
        {% for post in posts %}
            {% comment %} <div style="font-size:22px" class="mt-3">
                <!--<img src="{{user.profile.avatar}}" alt="" srcset="" width = 75px>-->
                {{post.city}} - 
                <a href="{% url 'post_detail' post.pk %}">{{post.title}}</a> 
                <div><img src="{{post.city.img}}" alt="" srcset="" width=250px> </div>
                <!--{{post.content}}-->
            </div> {% endcomment %}
            {% comment %} <div class="card ms-1 me-2 mt-3" style="width: 18rem;">
                <img src="{{post.city.img}}" class="card-img-top mt-2" alt="{{post.city}}" height=170px>
                <div class="card-body">
                    <h5 class="card-title" style="color:black">{{post.city.name}}</h5>
                    <p class="card-text" id="content" style="color:black">{{post.content}}</p>
                    <a href="{% url 'post_detail' post.pk %}" class="btn" id="post-btn">{{post.title}}</a>
                </div>
            </div> {% endcomment %}
            <a href="{% url 'post_detail' post.pk %}" id="post-card">
                <div class="col d-flex mt-3" id="post-card">
                    <img class="m-2" src="{{post.city.img}}" alt="" srcset="" width=150px>
                    <div class="container mt-3">
                        <h5 id="title">{{post.city.name}}</h5>
                        <h5 id="title">{{post.title}}</h5>
                        <h5 id="content">{{post.content}}</h5>
                    </div>
                </div>
            </a>
        {% empty %}
            <p></p>
            <h2 style="text-align:center">No Posts to show!</h2>
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}