{% extends 'base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-md-4 d-flex flex-column align-items-center">

        <h1>{{user.username}}'s Profile</h1>

        <img src="{{user.profile.avatar}}" alt="" srcset="" width=450px>
        <h2>Current City: {{user.profile.current_city}}</h2>
        <p>Join Date: {{user.date_joined}}</p>
        <a href="{% url 'update_profile'%}">Update Profile</a>

    </div>
    
    <div class="col-md-8" style="text-align:center">
        <h1 style="text-align:center">{{user.username}}'s Posts: </h1>
        <div class="row row-cols-3">
        {% for post in posts %}
            <div style="font-size:22px" class="mt-3">
                <!--<img src="{{user.profile.avatar}}" alt="" srcset="" width = 75px>-->
                {{post.city}} - 
                <a href="{% url 'post_detail' post.pk %}">{{post.title}}</a> 
                <div><img src="{{post.city.img}}" alt="" srcset="" width=250px> </div>
                <!--{{post.content}}-->
            </div>
        {% empty %}
            <p></p>
            <h2 style="text-align:center">No Posts to show!</h2>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}