{% extends 'base.html' %}

{% block content %}

    <form method="POST" action="{% url 'update_profile' %}">
        {% csrf_token %}
        <label for="name">Username:</label>
        <input id="name" type="text" value="{{user.username}}" name="username">

        <label for="current_city">Current city:</label>
        <select name="current_city" required="" id="id_current_city form_two">
            <option value="" selected="">---------</option>
            <option value="1">Los Angeles</option>
            <option value="2">Paris</option>
            <option value="3">Hong Kong</option>
            <option value="4">Brooklyn</option>
            <option value="5">Dubai</option>
            <option value="6">New York City</option>
        </select>

        <input type="hidden" name="user_id" value="{{user.id}}"  id="form_two">

        <input type="submit">
    </form>

{% endblock %}