{% extends 'base.html' %}

{% block content %}
    {{error}}
    <form method="POST" action="{% url 'update_profile' %}">
        {% csrf_token %}
        <label for="name">Username:</label>
        <input id="name" type="text" value="{{user.username}}" name="username">

        <label for="current_city">Current city:</label>
        <select name="current_city" required="" id="id_current_city form_two">
            <option value="{{user.profile.current_city.id}}" selected="">{{user.profile.current_city}}</option>
             {% for city in cities %}
            <option value="{{city.id}}">{{city.name}}</option>
            {% endfor %}

        <input type="hidden" name="user_id" value="{{user.id}}"  id="form_two">

        <input type="submit">
    </form>

{% endblock %}